<<<<<<< HEAD



.body {
    background-image: url('../../assets/backGround.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 1000px;
    
  }

  .welcome-container{

display: flex;
justify-content: center;
justify-content: space-between;
padding:500px

=======
.body {
    background-image: url('../../assets/vinylbackground.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-repeat: no-repeat;
    width: 1400px;
    height:700px;
>>>>>>> 92724c619b302066aa0b0fe537d329344da44927
  }
  