





body{

background-color: rgba(255, 254, 242, 1); 


  /* Center and scale the image nicely */

  
  
font-family: 'Lato', sans-serif;
    /* font-family: 'Orbitron', sans-serif; */
}

button{

    cursor: pointer;
}

.classic-button {
    background: transparent;
    color: #000000;
    border: 1px solid #000000;
    box-shadow: 8px 8px #000000;
    font-size: 18px;
    line-height: 15px;
    font-weight:bold;
    letter-spacing: 1px;
    padding: 12px 24px;
    transition-duration: 0.4s;
    cursor: pointer;
    }

.classic-button:hover {
    background-color:  rgba(250, 78, 18, 1);
    color:rgba(255, 254, 242, 1);
    border: 1px solid rgba(250, 78, 18, 1);
      }

.link_styling{
    text-decoration: none;
    color: #fffef2;
}