.navbar{
  display: flex;
  justify-content: space-between;

}
.nav-Icon{
width:25px;


}
.dropdown-button{
background-color: transparent;
border: none;
}

.nav-logo{
  width: 380px;
 
  

}
.nav-itemDropDown{
  width:200px;
  display:flex;
  justify-content: flex-end;
  margin-right:25px
 

}

.userSection{
  width:200px;
  display:flex;
  justify-content: flex-start;
  align-self: center;
  
  
}

.userBox{
  align-self: center;
  margin-left: 5px;

}

.logoBox{
  display:flex;
  justify-content: flex-start;
  align-self: center;
}

.userProfilePic {
  width: 50px;
  border: 2px solid black;
  border-radius: 25px;
}

.dropdown-content {
  flex-direction: column;
  position: absolute; 
  top: 18%; 
  right:1%; 
  background-color: #f9f9f9;
  
  min-width: 160px;
  z-index: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-item:hover {
  background-color: #ddd;
}




/* Media query for mobile */
@media (max-width: 600px) {


  .userSection{

display: none;

  }
}

 


 